<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-autowire="byName">

	<tx:annotation-driven />
	<ctx:annotation-config />
	<aop:aspectj-autoproxy />

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>jdbc/navitaMobileDatasource</value>
		</property>
	</bean>

	<!--
		<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
		value="net.sourceforge.jtds.jdbc.Driver" /> <property name="url"
		value="jdbc:jtds:sqlserver://washburn:1433/navita-mobile" /> <property
		name="username" value="sa" /> <property name="password" value="navita"
		/> </bean>
	-->


	<!--
		<bean id="dataSource"
			class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
			<property name="url" value="jdbc:derby://127.0.0.1:1527/mobiledb" />
			<property name="username" value="APP" />
			<property name="password" value="APP" />
		</bean>
	-->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="mobiPU" />
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceXmlLocation" value="classpath:META-INF/mobile-persistence.xml"></property>
	</bean>


	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="licenseBundleTypeRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.LicenseBundleType" />
	</bean>
	<bean id="licenseBundleRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.LicenseBundle" />
	</bean>

	<bean id="licenseActivationRepository"
		class="br.com.navita.mobile.console.dao.jpa.impl.LicenseActivationDAO"
		lazy-init="true">
	</bean>

	<bean id="connectorRepository" class="br.com.navita.mobile.console.dao.jpa.impl.ConnectorDAO"></bean>

	<bean id="operationRepository"
		class="br.com.navita.mobile.console.dao.jpa.impl.GenericOperationDAO" />

	<bean id="staticConnectorRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.StaticConnector" />
	</bean>

	<bean id="staticOperationRepository"
		class="br.com.navita.mobile.console.dao.jpa.impl.GenericOperationDAO"></bean>
	<bean id="sapFunctionOperationRepository"
		class="br.com.navita.mobile.console.dao.jpa.impl.GenericOperationDAO"></bean>
	<bean id="dataSourceQueryOperationRepository"
		class="br.com.navita.mobile.console.dao.jpa.impl.GenericOperationDAO"></bean>

	<bean id="dataSourceConnectorRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.DataSourceConnector" />
	</bean>
	<bean id="ejbConnectorRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.EjbConnector" />
	</bean>

	<bean id="sapConnectorRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.SapConnector" />
	</bean>

	<bean id="proxyConnectorRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.ProxyConnector" />
	</bean>

	<bean id="webServiceConnectorRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.WebServiceConnector" />
	</bean>


	<bean id="sapParameterRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.SapParameter" />
	</bean>


	<bean id="sapTableRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg value="br.com.navita.mobile.console.domain.SapTable" />
	</bean>
	<bean id="sapTableFieldRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.SapTableField" />
	</bean>
	<bean id="sapRowRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg value="br.com.navita.mobile.console.domain.SapRow" />
	</bean>

	<bean id="authContainerRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO"
		lazy-init="true">
		<constructor-arg
			value="br.com.navita.mobile.console.domain.AuthContainer" />
	</bean>

	<!-- end repositories -->

	<bean id="baseConnectorService"
		class="br.com.navita.mobile.console.service.impl.BaseConnectorService" />

	<bean id="baseOperationService"
		class="br.com.navita.mobile.console.service.impl.BaseOperationService" />

	<bean id="staticConnectorService"
		class="br.com.navita.mobile.console.service.impl.StaticConnectorService" />

	<bean id="dataSourceConnectorService"
		class="br.com.navita.mobile.console.service.impl.DataSourceConnectorService" />

	<bean id="sapConnectorService"
		class="br.com.navita.mobile.console.service.impl.SapConnectorService" />

	<bean id="proxyConnectorService"
		class="br.com.navita.mobile.console.service.impl.ProxyConnectorService" />

	<bean id="webServiceConnectorService"
		class="br.com.navita.mobile.console.service.impl.WebServiceConnectorService" />

	<bean id="ejbConnectorService"
		class="br.com.navita.mobile.console.service.impl.EjbConnectorService" />

	<bean id="staticOperationService"
		class="br.com.navita.mobile.console.service.impl.StaticOperationService" />

	<bean id="sapFunctionOperationService"
		class="br.com.navita.mobile.console.service.impl.SapFunctionOperationService" />

	<bean id="dataSourceQueryOperationService"
		class="br.com.navita.mobile.console.service.impl.DataSourceQueryOperationService" />

	<bean id="authContainerService"
		class="br.com.navita.mobile.console.service.impl.AuthContainerService" />

	<!-- end services -->


	<!-- OPERATOR -->

	<bean id="operator" class="br.com.navita.mobile.console.operator.GenericOperator" />
	<bean id="connectorOperator" parent="operator" />

	<bean id="dataSourceOperator"
		class="br.com.navita.mobile.console.operator.DataSourceOperator" />
	<bean id="ejbOperator" class="br.com.navita.mobile.console.operator.EjbOperator" />
	<bean id="proxyOperator" class="br.com.navita.mobile.console.operator.ProxyOperator" />
	<bean id="sapOperator" class="br.com.navita.mobile.console.operator.sap.SapOperator" />
	<bean id="staticOperator" class="br.com.navita.mobile.console.operator.StaticOperator" />
	<bean id="wsOperator" class="br.com.navita.mobile.console.operator.WsOperator" />


	<!-- END OPERATOR -->



	<security:http>
		<security:intercept-url pattern="/**" access="ROLE_USER" />
		<security:intercept-url pattern="/css/**"
			filters='none' />
		<security:intercept-url pattern="/images/**"
			filters='none' />
		<security:intercept-url pattern="/login.action*"
			filters='none' />
		<security:intercept-url pattern="/gateway.action*"
			filters='none' />
		<security:intercept-url pattern="/processor.action*"
			filters='none' />
		<security:intercept-url pattern="/push*/**"
			filters='none' />
		<security:intercept-url pattern="/teste/**"
			filters='none' />
		<security:intercept-url pattern="/assets/**"
			filters='none' />

		<security:form-login login-page="/login.action"
			default-target-url="/index.action" />
		<security:anonymous />
		<security:http-basic />
		<security:logout />
		<security:remember-me />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder hash="md5" />
			<security:jdbc-user-service
				data-source-ref="dataSource" />
		</security:authentication-provider>
	</security:authentication-manager>

	<bean id="checkOldSession"
		class="br.com.navita.mobile.console.listener.MobileSessionTimeoutScheduler"></bean>

	<bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<!-- wait 10 seconds before starting repeated execution -->
		<property name="delay" value="10000" />
		<!-- run every 30 seconds -->
		<property name="period" value="30000" />
		<property name="timerTask" ref="checkOldSession" />
	</bean>

	<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<!-- see the example above -->
				<ref bean="scheduledTask" />
			</list>
		</property>
	</bean>

	<bean id="licenseHelper" class="br.com.navita.mobile.console.util.LicenseHelper" />

	<bean id="httpClient" class="br.com.navita.mobile.console.util.HttpClientUtil" />

	<bean id="licenseService"
		class="br.com.navita.mobile.console.service.impl.LicenseServiceImpl" />

	
	<!-- WS -->

	<bean id="dynaClient" scope="prototype"
		class="br.com.navita.mobile.ws.client.DynamicClient" init-method="createService">
		<constructor-arg>
			<bean class="java.net.URL"></bean>
		</constructor-arg>
		<property name="namespaceUri" value="http://ws.mobile.navita.com.br/" />
		<property name="serviceName" value="singlePointService" />
		<property name="portName" value="singlePointPort" />
		<property name="lookupServiceOnStartup" value="false" />
	</bean>




</beans>