<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ctx="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:security="http://www.springframework.org/schema/security"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
						http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd 
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd"
	default-autowire="autodetect">


	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/navitaMobileDataSource" />
	
	<bean id="dataSource2"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
		<property name="url" value="jdbc:derby:mobiledb2" />
		<property name="username" value="" />
		<property name="password" value="" />
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource2"/>
	</bean>
	
	<!-- DAOs genéricos -->
	<bean id="staticConnectorRepository" class="br.com.navita.mobile.console.dao.jpa.impl.BaseEntityDAO" lazy-init="true">
		<constructor-arg value="br.com.navita.mobile.console.model.StaticConnector" />
	</bean>
	
	<!--<bean id="masterEntityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
<property name="persistenceUnitName" value="masterPersistenceUnit"/>
</bean>
	
	

	--><bean id="commonConfiguration"
		class="br.com.navita.mobile.console.dao.NavitaMobileConfiguration"
		init-method="setDelimiterParsingDisabled">
		<constructor-arg index="0" ref="dataSource"></constructor-arg>
		<constructor-arg index="1" type="java.lang.String"
			value="mobileconfig"></constructor-arg>
		<constructor-arg index="2" type="java.lang.String"
			value="id"></constructor-arg>
		<constructor-arg index="3" type="java.lang.String"
			value="value"></constructor-arg>

	</bean>

	<bean id="ldapService" class="br.com.navita.mobile.console.bizz.LdapServiceImpl" />
	<bean id="msLoginService" class="br.com.navita.mobile.console.bizz.MSWindowsLoginService" />
	<bean id="ldapConfigDAO" class="br.com.navita.mobile.console.dao.LdapConfigDAO" />
	<bean id="dynamicExecutorLookupService"
		class="br.com.navita.mobile.console.jar.DynamicExecutorLookupServiceImpl" />
	<bean id="licenseDAO" class="br.com.navita.mobile.console.dao.LicenseDAOImpl" />
	<bean id="licenseService" class="br.com.navita.mobile.console.bizz.LicenseServiceImpl" />

	<bean id="sapMobileProcessor" class="br.com.navita.mobile.console.sap.SapMobileProcessor" />
	<bean id="staticProcessor" class="br.com.navita.mobile.console.stat.StaticProcessor" />
	<bean id="dsAppProcessor"
		class="br.com.navita.mobile.console.jdbc.DataSourceAppProcessor" />
	<bean id="jdbcAppProcessor" class="br.com.navita.mobile.console.jdbc.JdbcAppProcessor" />
	<bean id="deployableProcessor" class="br.com.navita.mobile.console.jar.DeployableProcessor" />
	<bean id="ejbProcessor" class="br.com.navita.mobile.console.remote.EjbProcessor" />
	<bean id="genericWsProcessor" class="br.com.navita.mobile.ws.processor.GenericWsProcessor" />
	<bean id="proxyServletProcessor" class="br.com.navita.mobile.console.proxy.ProxyServletProcessor"/>

	<security:http>
		<security:intercept-url pattern="/**" access="ROLE_USER" />
		<security:intercept-url pattern="/css/**"
			filters='none' />
		<security:intercept-url pattern="/images/**"
			filters='none' />
		<security:intercept-url pattern="/login.action*"
			filters='none' />
		<security:intercept-url pattern="/gateway.action*"
			filters='none' />
		<security:intercept-url pattern="/push*/**"
			filters='none' />
		<security:intercept-url pattern="/teste/**"
			filters='none' />
		<security:intercept-url pattern="/assets/**"
			filters='none' />

		<security:form-login login-page="/login.action"
			default-target-url="/index.action" />
		<security:anonymous />
		<security:http-basic />
		<security:logout />
		<security:remember-me />
	</security:http>

	<security:authentication-provider>
		<security:password-encoder hash="md5" />
		<security:jdbc-user-service
			data-source-ref="dataSource" />
	</security:authentication-provider>

	<bean id="mobileApplicationDAO"
		class="br.com.navita.mobile.console.dao.MobileApplicationDAOImpl"></bean>

	<bean id="gatewayDispatcher" class="br.com.navita.mobile.console.NavitaMobileDispatcher" />


	<!--
		<security:authentication-provider> <security:password-encoder
		hash="md5" /> <security:user-service> <security:user name="admin"
		password="navita" authorities="ROLE_ADMINISTRATOR, ROLE_USER" />
		</security:user-service> </security:authentication-provider>
	-->

	<bean id="checkOldSession"
		class="br.com.navita.mobile.console.listener.MobileSessionTimeoutScheduler"></bean>

	<bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<!-- wait 10 seconds before starting repeated execution -->
		<property name="delay" value="10000" />
		<!-- run every 30 seconds -->
		<property name="period" value="30000" />
		<property name="timerTask" ref="checkOldSession" />
	</bean>

	<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<!-- see the example above -->
				<ref bean="scheduledTask" />
			</list>
		</property>
	</bean>

	<!-- WS -->

	<bean id="dynaClient" scope="prototype"
		class="br.com.navita.mobile.ws.client.DynamicClient" init-method="createService">
		<constructor-arg>
			<bean class="java.net.URL"></bean>
		</constructor-arg>
		<property name="namespaceUri" value="http://ws.mobile.navita.com.br/" />
		<property name="serviceName" value="singlePointService" />
		<property name="portName" value="singlePointPort" />
		<property name="lookupServiceOnStartup" value="false" />
	</bean>
	
	
	<bean id="httpClient" class="br.com.navita.mobile.console.util.HttpClientUtil"/>


</beans>