<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<mapping package="com.navita.portal.common.entity" /><!--
		<mapping class="com.navita.portal.common.entity.HtmlBlock" />
		<mapping class="com.navita.portal.common.entity.ProcessedPage" />
		<mapping class="com.navita.portal.common.entity.ProcessedSite" />
		<mapping class="com.navita.portal.common.entity.ProcessedLink" />
	--></session-factory>

</hibernate-configuration>
