@charset "utf-8";
/*
 * Navita Content
 * Editado por Joao Costa em 08.10.07
 */

/*
 * CONFIGURACOES GERAIS PARA O INTERNET EXPLORER > 6
 */

div.errorMessage ul, div.successMessage ul {
	padding: 3px;
}

#loginArea div.box div.footer {
	background:none!important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/box_footer.png',sizingMethod='scale');
}
#mainMenu ul li a {
	display: inline-block;
	height: 31px;
}
#mainMenu ul.subnav {
	margin-top: -14px;
	clear: both;
}
#mainMenu ul.subnav li a {
	display: inline-block;
}
#mainMenu ul.subnav li.ce {
	background:none!important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/menu_bg_sub_ce.png',sizingMethod='crop');
}
#mainMenu ul.subnav li.cd {
	background:none!important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/menu_bg_sub_cd.png',sizingMethod='crop');
}
#mainMenu ul li.sites {
	width: 133px;
	height: 32px;
}
#mainContent table.gridContent {
	width: 94%;
}
#mainMenu ul li.sites {
	width: 124px;
}
#mainMenu ul li.search {
	width: 133px;
}
#mainMenu ul li form#box_busca {
	height: 12px;
}
#mainMenu ul li.active {
	height: 31px;
}
#mainContent div.contentArea {
	position: relative;
	top: 20px;
}
#mainContent ul.submenu li {
	height: 23px;
}

div.path {
	font-size: 16px;
	color: #111111;
	font-weight: bold;
	margin: 0 0 8px 10px;
}

table.top tr td.alphacube_nw,
table.top tr td.alphacube_n,
table.top tr td.alphacube_ne {
	height: 10px;
}

table.top tr td.alphacube_n .alphacube_title {
	margin: 0;
}

table.mid tr td.alphacube_content div.tooltip p {
	margin: 10px 0 0 0;
}

table.mid tr td.alphacube_content div.tooltip p a.actionButton {
	margin: 0 0 0 10px;
}